@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 9%;
}

.header {
  position: relative;
  width: 100%;
  height: 30px;
  background: #555;
  margin-bottom: 10px;
}
.header--top {
  display: flex;
  padding: 0 30px;
  font-size: 2.5rem;
  justify-content: space-between;
  color: #fff;
  line-height: 30px;
}
.header--hotline {
  display: flex;
}
.header--hotline__icon {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 14px;
}
.header--info {
  display: flex;
}
.header--info, .header--phone, .header--email, .header--contact, .header--support, .header--question {
  padding: 0 5px;
  font-size: 2.4rem;
}
.header--cart {
  position: relative;
}
.header--cart:hover .header--cart__nocart {
  display: block;
}
.header--cart__nocart {
  display: none;
  position: absolute;
  top: 90%;
  right: -68px;
  z-index: 99;
  border-radius: 3px;
  box-shadow: 3px 5px 10px #939393;
}
.header--cart__nocart-name {
  font-size: 1.2rem;
  text-align: center;
}
.header--cart__nocart img {
  width: 200px;
  height: 130px;
}
.header--cart__icon {
  font-size: 5rem;
  cursor: pointer;
}
.header--logo img {
  width: 100px;
  height: 90px;
}
.header--features {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: space-around;
  align-items: center;
}
.header--description {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.header--description__phone {
  font-size: 4rem;
}
.header--input {
  color: #fff;
  width: 100%;
}
.header--advise {
  display: flex;
}
.header--advise-icon {
  padding: 0 30px;
}
.header--search {
  position: relative;
  width: 40%;
}
.header--search__icon {
  position: absolute;
  right: 0;
  font-size: 2rem;
  padding: 0 14px;
}
.header--search::before {
  content: "";
  position: absolute;
  width: 1.3px;
  right: 50px;
  bottom: 7px;
  height: 29px;
  background-color: #797979;
}
.header--input {
  color: #737373;
  font-style: italic;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 20px;
}
.header--description__User {
  padding: 0 35px 0 4px;
}
.header--description__phone {
  font-size: 2.5rem;
}
.header::after {
  content: " ";
  position: absolute;
  background-color: #555;
  width: 100%;
  height: 20px;
}
.header--marquee {
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  background-color: #737373;
  margin-bottom: 10px;
}
.header--marquee__content {
  display: inline-block;
  padding-left: 10px;
  width: 100%;
  animation: marquee-animation 20s linear infinite;
}
.header--marquee__content-text {
  font-size: 1.4rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  padding-right: 30px;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.searchProduct {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.nav {
  font-size: 1.2rem;
  position: relative;
  top: 50px;
  width: 100%;
}
.nav--menu {
  display: flex;
  position: relative;
  top: 100%;
  align-items: center;
  border: 1px solid #000;
}
.nav--menu__icon {
  margin: 0 20px;
  background-color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 15%;
}
.nav--menu__icon-menu {
  padding: 5px 10px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.nav--menu__main {
  display: flex;
  list-style: none;
}
.nav--menu__main li {
  padding: 10px 35px;
}
.nav--menu__main li a {
  text-decoration: none;
  color: #000;
}
.nav--menu__main-item {
  border: 1px solid #555;
}
.nav--menu__main-item a:hover {
  color: #E33C22;
}
.nav--menu__main-test {
  display: none;
}
.nav--menu__list {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 15%;
  display: block;
  z-index: 1000;
  cursor: pointer;
  align-items: center;
}
.nav--menu__list--item {
  cursor: pointer;
  position: relative;
}
.nav--menu__list li {
  cursor: pointer;
}
.nav--menu__list--item {
  padding: 10px 25px;
  list-style: none;
  width: 100%;
  border: 1px solid #555;
}
.nav--menu__list--item:hover {
  color: #E33C22;
  background: #cac8c8;
}
.nav--menu__hotsale {
  position: absolute;
  right: 20px;
}
.nav--banner {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-left: 30px;
}
.nav--banner__img {
  width: 70%;
  height: 300px;
}
.nav--hotsale {
  position: absolute;
  top: 0;
  right: 10px;
}
.nav--hotsale__img {
  width: 100%;
  height: 300px;
}

.nav--menu__list--item.active .submenu {
  display: block; /* Hiển thị submenu khi có class `active` */
}

.submenu {
  position: absolute;
  top: 10px;
  right: -50px;
  list-style: none;
  display: none;
  z-index: 100;
}
.submenu__item {
  color: #fff;
  cursor: pointer;
  background-color: #555;
  padding: 10px;
  border-top: 1px solid #737373;
}
.submenu__item:hover {
  color: #E33C22;
  background: #cac8c8;
}/*# sourceMappingURL=main.css.map */